<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center;" id="top-bar">
      <img>
      <h1>
        EAT-DA-BURGER
      </h1>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">To Eat</th>
                <th scope="col">Devoured</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  {{#each burgers}}
                  {{#unless devoured}}
                  {{> burgers/burger-block devour=true}}
                  {{/unless}}
                  {{/each}}
                </td>
                <td>{{#each burgers}}
                  {{#if devoured}}
                  {{> burgers/burger-block devour=false}}
                  {{/if}}
                  {{/each}}</td>

              </tr>

            </tbody>
          </table>






        </div>

      </div>
      


<div class="row">
  <div class="col-md-12">
    
    <form class="create-form">

      <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="burger_name">
        
      <button type="submit">Add Cat</button>
      </div>

      <div class="form-group">
        <input type="hidden" name="devoured" value="0"><br>
        <input type="hidden" name="devoured" value="1">
      </div>

    </form>
  </div>

</div>
    </div>




