

#btn {
    color: black;
    background-color: #868686;
    border-radius: 40%;
    border: 1px, solid, black;
}

td {
    margin: 5%;
}

body {
    background-color: #000;
    color: white;
}

#addBurg {
    border-radius: 30rem;
    border: solid black 2px;
    background-color: #ffffff;
    
}